html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    height: 60px;
    background-color: #9A8C98;
}
main {
    height: calc(100% - 60px);
    width: 100%;
}
.toolbar {
    height: 40px;
    width: 100%;
    background-color: #C9ADA7;
}
.canvas {
    box-sizing: border-box;
    height: calc(100% - 40px);
    width: 100%;
    background-color: #F2E9E4;
    padding: 4vw 10vw 6vw 10vw;
    overflow: auto;
}
.workspace {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 100%;
}
.workspace > .circle {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #22223B;
    background-color: rgb(25, 125, 207);
}

.grabbing {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}
.grab {
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}