@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #c2e9e9;
    height: 50px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header>img {
    padding: 2px;
}

.header>button {
    outline: none;
    margin-top: -2px;
}

.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(232, 232, 232, .6); */
    background-color: darkgreen;
    top: 0;
    transition: top .8s ease-out,
        background-color .3s linear .6s;
    z-index: 2;
    -moz-user-select: none;
    user-select: none;
}

.menu-hidden {
    top: -100%;
    background-color: transparent;
    transition: top .8s ease-in,
        background-color .2s linear;
}

.menu>div {
    position: relative;
    height: 450px;
    width: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 32px 1px black;
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: 101%;
}

.menu-close {
    position: absolute;
    color: #e02c2c;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

.menu-close:hover {
    color: #b12929;
}

.menu-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    padding: 50px;
    padding-bottom: 20px;
}

.menu-content>img {
    width: 80%;
    align-self: center;
    margin-top: -40px;
}

.menu-content>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
}

.area-size {
    margin-top: 30px;
}

.menu-content label {
    font-size: 1.4rem;
}

.area-size>label::before {
    content: "🗒️";
}

.area-size>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}

.menu-content input {
    height: 24px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    transform: scaleY(1.2);
}

.area-size>div>span {
    font-size: 1.2rem;
    line-height: 34px;
    margin: 0 4px 0 6px;
    transform: scaleY(1.2);
}

.bombs>label::before {
    content: "💣";
}

.bombs>input {
    margin-top: 10px;
}

.menu-content>button {
    font-family: "Press Start 2P", cursive;
    font-size: 1.4rem;
    height: 60px;
    width: 180px;
    align-self: center;
    margin-top: 30px;
    background: #af6f41;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    animation: heartbeat 3s ease-in-out infinite both;
}

.menu-content>button:hover {
    background: #daa077;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    5% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    8% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    16% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    22% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

.game {
    height: calc(100% - 50px);
    background: #FDE74C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game>span {
    font-size: 8rem;
    color: #77a4c5;
    margin: 0 40px;
    text-align: center;
}

.board-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.board>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.board>div::after {
    content: "";
    flex: 0 0 100px;
}

.board .cell {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    border: 1px solid #444;
    margin: 1px;
    text-align: center;
    line-height: 20px;
    -moz-user-select: none;
    user-select: none;
    background-color: #93EF81;
    transition: background-color 1s linear;
}
.board .cell:hover {
    background-color: rgb(73, 175, 52);
    transition: none;
}
.board .safely {
    background-color: rgb(238, 191, 138);
    transition: none;
}
.board .safely:hover,
.board .bomb:hover {
    background-color: unset;
}
.board .bomb {
    background-color: red;
    transition: none;
}

.invisible {
    display: none !important;
}